/* body {
    margin: 0px;
    padding: 0px;
} */

/* .wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: 25%;
    align-content: center;
    background: lightgray;
    border-radius: 20px;
    padding: 10px;
} */
.heading{
	margin: 40px 130px 40px 130px;
    background: transparent;
    background-color: darkgray;
    font-size: large;
	text-align: center;
	border: 1px solid;
	border-radius: 20px;

}

form {
	margin: 40px 130px 40px 130px; 
	border-radius: 10px; 
	padding: 10px;
	border: 1px solid;
    background: darkgray;
}

form p {
	color: red;
	margin-left: 320px;
}

.task_input {
	width: 50%;
    margin: 10px;
    margin-left: 25%;
	height: 20px; 
	padding: 10px;
	border: 2px solid;
    border-radius: 10px;
}

.add_btn {
    align-content: center;
    margin-left: 25%;
    width: 635px;
	height: 43px;
    background-color: #7bec64;
	border: 2px solid;
	border-radius: 10px; 
	padding: 5px 20px;
    font-size: 15px;
    font-weight: bold;
}

hr {
    background-color: dark;
    width: 83%;
    margin: auto;
}

table {
    width: 83%;
    margin: 25px auto;
    border-collapse: collapse;
    background: darkgray;
    border-radius: 10px;

}

tr {
    text-align: center;
    font-size: 19px;
	border-bottom: 1px solid #cbcbcb;
    height: 35px;
    border-radius: 5px;
}

th {
	font-size: 20px;
	color: #161813;
    background: darkslategrey;
}

th, td{
	border: none;
    height: 20px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}

.edit_delete a {
    color: white;
	background: #a52a2a;
    margin-left: 8px;
	padding: 4px 6px;
	border-radius: 3px;
	text-decoration: none;
    height: 50px;
}

.edit_delete a.btn-success {
    background: #4CAF50;
}